h1 {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

h2{font-size: medium;} h2{font-family: 'Courier New', Courier, monospace;}

#hobbies {
    text-align: left;
    font-size: large;
    font-family: sans-serif;
}

h1, h2, #hobbies, #biography {
    align-items: left;
    text-align: center;
}
h1:hover{
    background-color: transparent;
    background-color: darksalmon;
}

/* Biography */
#biography {
    text-align: center;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Gallery */
#gallery {
    border: 2px solid chocolate;
    border-color: solid chocolate;
    margin-bottom: 2rem;
    align-items: center;
    text-align: center;
}

#gallery figure {
    text-align: center;
    align-items: center;
    align-self: center;
}

#gallery img {
    max-width: 100%;
}

/* Literature */
#lit {
    border: 2px solid chocolate;
    margin-bottom: 2rem;
}

#lit div {
    padding:2rem;
    max-width: 40;
    margin: 0 auto;
}

#lit div p {
    padding: 0.3rem 0;
    clear:both
}

/* Dropcaps */

#lit div p::first-letter {
    color: blue;
    float: left;
    font-size: 1.5em;
    padding: .25em;
    margin-right: .25em;
    line-height: .65em;
    border: 1px solid blue;
    text-shadow:5px 5px 3px rgba(0,0,0,.5);
    border-top-left-radius: .2em;
    border-bottom-right-radius: .2em;
}

#hobbies {
    display: flex; 
flex-direction: column; 
align-items: center;
}

#hobbies {
    display:grid;
grid-template-columns: 2fr 1fr;
}

#hobbies {
    display:flex;
justify-content: center;
align-items: center;
font-size: 2rem;
margin-left: 1rem;
}

#hobbies {
    max-width:100%;
columns: 40rem;
}

#hobbies {
grid-template-columns: 1fr 1fr 1fr;
}

body {
    background-color: bisque;
}

/* Contact Form */

#formElements {
    display:grid;
    row-gap: .5em;
}

#contact {
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
}

fieldset {
    border: 2px solid blueviolet;
    margin-top: 1em;
    margin-bottom: 1em;
}

legend {
    background-color: lavenderblush;
    color: tomato;
    padding: .3em;
}

#contact input, #contact textarea, #contact select, #contact button {
    padding:.5em;
    font-size: 1rem;
}

#contact ul {
    list-style: none;
    padding:0px;
}

#contact li {
    margin: 1rem;
}

#contact button {
    background-color: teal;
    color: coral;
    border: 2px solid crimson;
    max-width: 400px;
    width: 50%;
    justify-self: center;
}

footer {
    margin-right: 2rem;
    text-align: right;
}

P {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}


/* gym */
#gym { 
    align-items: center;
    text-align: center;
}

/* myVideo */
#myVideo {
    align-items: center;
    text-align: center;
}

/* movie */
#movie {
    align-items: center;
    text-align: center;
}

h3 {
    color: dodgerblue;
    font: optional;
    font-display: large;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Gym */

#gym {
    border: 2px solid chocolate;
    margin-bottom: 2rem;
}

#gym div {
    padding:2rem;
    max-width: 40;
    margin: 0 auto;
}

#gym#lit {
    border: 2px solid cyan;
    margin-bottom: 2rem;
}

#lit div {
    padding:2rem;
    max-width: 40;
    margin: 0 auto;
}

#lit div p {
    padding: 0.3rem 0;
    clear:both
} div p {
    padding: 0.3rem 0;
    clear:both
}

#gym div p::first-letter {
    color: blue;
    float: left;
    font-size: 1.5em;
    padding: .25em;
    margin-right: .25em;
    line-height: .65em;
    border: 1px solid blue;
    text-shadow:5px 5px 3px rgba(0,0,0,.5);
    border-top-left-radius: .2em;
    border-bottom-right-radius: .2em;
}