h1 {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

h2{font-size: medium;} h2{font-family: 'Courier New', Courier, monospace;}

#hobbies {

}

h1, h2, #hobbies, #biography {
text-align: center;}